@import url('https://fonts.googleapis.com/css?family=Oswald');
.App {
  text-align: center;
  min-height: 100vh;
  padding: 10px;
}
.App-name {
  margin-top: 5vh;
  font-size: 2.35rem !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 150px;
  margin: 38px;
}
.App-click-text {
  color: #ff207a;
}
.App-numbers-container {
  margin: 30px;
  padding-left: 10px;
}

.App-number-div {
  font-size: 10px;
  height: 84px;
  padding-top: 28px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* LINK ANIMATION */
.App-link {
  position: absolute;
  bottom: 25%;
  left: -11px;
  transform: rotate(-90deg);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  color: #17a2b8;
}
.App-link-arrow {
  display: inline-flex;
}

.App-link-arrow span {
  position: relative;
  width: 14px;
  height: 2px;
  border-radius: 2px;
  overflow: hidden;
  background: #BEBDBE;
  z-index: 2;
}

.App-link-arrow span:nth-child(1) {
  transform-origin: left bottom;
  transform: rotate(45deg) translate3d(8px, -10px, 0);
}

.App-link-arrow span:nth-child(2) {
  transform-origin: left bottom;
  transform: rotate(-45deg);
}

.App-link-arrow span:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background: #17a2b8;
}

.App-link-line {
  position: relative;
  margin-left: -14px;
  margin-right: 30px;
  width: 150px;
  height: 2px;
  background: #BEBDBE;
  overflow: hidden;
  z-index: 1;
}

.App-link-line:after {
  content: '';
  display: block;
  position: absolute;
  left: 80px;
  width: 70px;
  height: 2px;
  background: #17a2b8;
}

.App-link-text {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.App-link-text:hover {
  text-decoration: none;
  color: #17a2b8;
}

.App-link-line::after {
  animation: animation-line 1.5s forwards;
}

.App-link-arrow span:after {
  animation: animation-arrow 1.5s forwards;
  animation-delay: 1s;
}

@keyframes animation-line {
  0% {
    left: 80px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* END LINK ANIMATION*/

.App-description {
  font-size: 12px;
  width: 86%;
  text-align: justify;
}
.App-copyRight {
  font-size: 12px;
  margin: 30px auto 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) {
  .App-name {
    font-size: 4.5rem !important;
    margin-top: 5vh;
  }
  .App-subtitle {
    font-size: 2.25rem !important;
  }
  .App-logo {
    height: 261px;
    margin: 68px;
  }
  .App-click-text {
    font-size: 2rem !important;
  }

  .App-numbers-container {
    width: 80%;
  }

  .App-number-div {
    font-size: 24px !important;
    margin-right: 10px;
    height: 100px;
    padding-top: 32px;
  }

  .App-number-div:nth-child(5n) {
    margin-right: 40px;
  }

  .App-number-div:nth-child(5n)::after {
    content: "+";
    position: relative;
    left: 53px;
  }

  .App-description {
    width: 72%;
    font-size: 17px;
  }
  .App-link {
    bottom: 37%;
    left: -10%;
  }
  .App-copyRight {
    font-size: 17px;
    margin: 40px auto 20px;
  }
}
@media only screen and (min-width: 960px) {
  .App-name {
    font-size: 6rem !important;
    margin-top: 5vh;
  }

  .App-subtitle {
    font-size: 3rem !important;
  }

  .App-logo {
    height: 322px;
    margin: 88px;
  }
  .App-click-text {
    font-size: 3rem !important;
  }
  .App-numbers-container {
    margin: 60px;
    padding-left: 10px;
    width: 80%;
  }

  .App-number-div {
    font-size: 35px !important;
    padding-top: 28px;
  }

  .App-number-div:nth-child(5n)::after {
    left: 67px;
  }

  .App-description {
    width: 71%;
    font-size: 27px;
  }
  .App-link {
    left: -6%;
  }
  .App-copyRight {
    font-size: 27px;
    margin: 60px auto 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .App-name {
    font-size: 4.5rem !important;
    margin-top: 5vh;
  }
  .App-subtitle {
    font-size: 2.25rem !important;
  }
  .App-logo {
    height: 261px;
    margin: 68px;
  }
  .App-click-text {
    font-size: 2rem !important;
  }
  .App-numbers-container {
    width: 65%;
  }

  .App-number-div {
    font-size: 24px !important;
    margin-right: 10px;
    height: 100px;
    padding-top: 32px;
  }

  .App-number-div:nth-child(5n)::after {
    left: 56px;
  }

  .App-description {
    width: 60%;
    font-size: 17px;
  }
  .App-copyRight {
    font-size: 17px;
    margin: 40px auto 20px;
  }
}
